@import url(variables.css);

.parent.blur {
    filter: blur(10px);
    transition: filter 0.3s ease;
    pointer-events: none;
}

.popup {
    /* display: none; */
    background-color: white;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 515px;
    border-radius: 10px;
    z-index: 100;
    box-shadow: 0px 0px 4px 5px lightgray;
}

.popup-content form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popup-content h2 {
    margin-bottom: 5px;
    font-weight: 500;
}

.tagline {
    margin-top: 5px;
    color: var(--light_text);
    font-size: 14px;
}

.close-image {
    width: 20px;
    height: 20px;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
}

.close-button:hover {
    cursor: pointer;
}

form>* {
    margin-left: 50px;
}

#group-name {
    display: flex;
    border: solid 1px black;
}



.popup-content label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

textarea {
    text-indent: 0;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    width: 400px;
    font-size: 14;
    font-family: sans-serif;
    border: solid 0.5px lightgray;
    border-radius: 8px;
    box-sizing: border-box;
}

textarea:focus {
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px 4px var(--yellow_green);
}

input[type=submit] {
    background-color: var(--primary_color);
    height: 45px;
    width: 405px;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 16px;
    margin-top: 40px;
}

input[type=submit]:hover {
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px var(--yellow_green);
}

.error-text {
    color: red;
    font-size: 12px;
}