@import url("variables.css");

body {
    margin: 0px;
}

/* navbar  */
.navbar {
    display: flex;
    height: 146px;
    align-items: center;
    background-color: var(--primary_color);
    gap: 200px;
}

.logo {
    width: 1253px;
    height: 100%;
}

.brand-name,
.brand-tag-line {
    margin-left: 155px;
    color: white;
}

.brand-name {
    font-size: 40px;
    font-weight: bold;
    margin-top: 45px;
    margin-bottom: 5px;
}

.brand-tag-line {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: #eee5e5;
    border: 2px solid #FF0707;
    color: #FF0000;
    font-weight: bold;
    border-radius: 5px;
}

.account:hover {
    cursor: pointer;
    background-color: white;
}







/* main content */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container {
    margin-top: 40px;
    width: 1488px;
    height: 880px;
}


.content-header {
    font-size: 32px;
    margin-left: 53px;
}

/* cards */
.card-container {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 316px;
    width: 1388px;
    margin-left: 50px;
    margin-top: 50px;
    gap: 101px;
}

.card-container a {
    text-decoration: none;
    color: black;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 293px;
    height: 258px;
    background-color: var(--secondary_color);
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px rgb(192, 192, 192);
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px var(--yellow_green);
}

.card-icon {
    height: 100px;
    width: 100px;
}

.card-text {
    font-size: 20px;
    font-weight: 600;
}


.recent-activity {
    box-shadow: 0px 0px 4px 1px rgb(192, 192, 192);
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    background-color: var(--secondary_color);
    height: 386px;
}

.recent-activity-header-container {
    display: flex;
    flex-direction: column;
}

.recent-activity-header {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 3px;
    margin-left: 40px;
}

.recent-activity-tag-line {
    margin-top: 3px;
    margin-left: 40px;
    font-size: 13px;
    color: var(--light_text);
}

.activities {
    border: solid black 1px;
    margin-left: 40px;
}