@import url(variables.css);





.popup-content form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popup-content h2 {
    margin-bottom: 5px;
    font-weight: bold;
}

.tagline {
    margin-top: 5px;
    color: var(--light_text);
    font-size: 14px;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
}

.close-button:hover {
    cursor: pointer;
}

.close-image {
    width: 20px;
    height: 20px;
}

form>* {
    margin-left: 50px;
}

input[type=submit] {
    background-color: var(--primary_color);
    height: 45px;
    width: 405px;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 16px;
    margin-top: 40px;
    font-weight: bold;
}

input[type=submit]:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px var(--yellow_green);
}

.error-text {
    color: red;
    font-size: 12px;
}