@import url("variables.css");



@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}



@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

.body {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
}

.parent {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div {
    height: 820px;
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid lightgray 1px;
    border-radius: 10px;
    background-color: #F6F6F6;
    box-shadow: 0px 0px 5px 5px lightgray;
    height: 720px;
    width: 510px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.signup-tag {
    font-size: 14px;
    color: var(--light_text);
}

input[type=submit] {
    background-color: var(--primary_color);
    height: 45px;
    width: 405px;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
}

input[type=submit]:hover {
    font-weight: 700;
    cursor: pointer;
    background-color: rgb(7, 165, 7);
}

a {
    color: var(--primary_color);
    text-decoration: none;
}

.error-text {
    color: red;
    font-size: 12px;
}