@import url("variables.css");

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* nav bar */
.navbar {
    display: flex;
    height: 146px;
    width: 100%;
    align-items: center;
    background-color: white;
    gap: 200px;
    border-bottom: solid black 2px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 1253px;
    height: 100%;
}

.logo div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.back {
    height: 100%;
}

.back div {
    display: flex;
    justify-content: center;
    margin-left: 20px;
}


.back div img {
    width: 30px;
    height: 30px;
}

.brand-name,
.brand-tag-line {
    margin-left: 15px;
}

.brand-name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 45px;
    margin-bottom: 3px;
}

.brand-tag-line {
    color: var(--light_text);
    font-size: 16px;
    font-weight: bold;
    margin-top: 3px;
}

.create-group-button {
    height: 45px;
    width: 200px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    font-weight: 600;
    background-color: var(--primary_color);
}

.create-group-button:hover {
    cursor: pointer;
    background-color: #004734;
    box-shadow: 0px 0px 4px 5px lightgray;
}


/* display group area */
.display-groups {
    height: 700px;
    width: 90%;
    /* border: solid black 1px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 375px);
    grid-template-rows: 1fr 1fr;
    padding: 40px;
    gap: 40px;
}

.group {
    width: 375px;
    height: 270px;
    /* border: solid 2px #BCFFDF; */
    border: solid 2px green;
    border-radius: 10px;
    background-color: #E4F5ED;
    display: grid;
    grid-template-rows: 2fr 3fr 1fr;
    margin: 0px;
}

.group h1 {
    font-size: 20px;
    padding-left: 30px;
    padding-top: 15px;
    font-weight: 600;
    padding-bottom: 0px;
}



.right-arrow {
    display: flex;
    justify-content: right;
}

.right-arrow img {
    padding-right: 20px;
    display: none;
    height: 30px;
}



.group p {

    padding-left: 30px;
    padding-right: 20px;
    padding-top: 30px;
}

.group:hover .right-arrow img {
    display: block;
}

.group:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px var(--yellow_green);
    border: none;
}