.text-box-container {
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.label {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.text-box {
    margin-top: 5px;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    border: solid 0.5px lightgray;
}




.text-box:focus {
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px 4px var(--yellow_green);
}